.todo-wrapper{
  width: 30%;
  margin-left: 10%;
  margin-right: 5%;
}

.today-title {
  color: rgb(88, 84, 81);
  text-align: center;
  padding-top: 1%;
}

.add-task-btn {
  display: flex;
  background: linear-gradient(135deg, rgb(110, 96, 200), rgb(73, 122, 207), rgb(51, 152, 220));
  align-items: center;
  border: 1px solid white;
  border-radius: 6px;
  width: 45%;
  margin-left: 27.5%;
  padding: 2.5% 5%;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  bottom: 5%;
  margin-bottom: 5%;
}

.btn-title {
  color: white;
  font-weight: 600;
  margin: 0;
}

.functional-part {
  background-color: white;
  min-height: 350px;
  max-height: 450px;
  overflow: auto;
}