.wrapper {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, rgb(110, 96, 200), rgb(73, 122, 207), rgb(51, 152, 220));
}

.date-day {
  color: white;
  text-align: center;
}

.date-month {
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.stat-wrapper {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-between;
  margin-top: 15px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-name {
  color: white;
  margin-bottom: 0;
}

.item-value {
  color: white;
  margin-top: 0;
  font-weight: 575;
}
